{% extends 'base.html.twig' %}

{% block title %}Cabinet Crettex | Intervention{% endblock %}

{% block body %}
<div class="container mt-3" id="dashboard">
    <div class="modal fade" id="modalAddIntervention" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un type d'intervention</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <label for="intitulate" class="form-label">Libellé</label>
                        <input type="text" class="form-control form-control-sm" id="intitulate" placeholder="Libellé" v-model="interventionToAdd.intitulate">
                    </div>
                    <div class="col">
                        <label for="amount" class="form-label">Montant</label>
                        <input type="number" class="form-control form-control-sm" id="amount" placeholder="Montant" v-model="interventionToAdd.amount">
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-sm btn-success" @click="addIntervention" data-bs-dismiss="modal">Ajouter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <h1>Bonjour, <span class="text-info">{{ user.firstname }}</span>.</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Types d'intervention</h2>
            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddIntervention"><i class="fas fa-user-plus text-success"></i></button>
            <table class="table table-striped table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Prix</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(i, index) in interventions">
                    <th scope="row">${ index +1 }</th>
                    <td>${ i.name }</td>
                    <td>${ i.amount }€</td>
                    <td>
                        <button class="btn btn-sm border-0" disabled><i class="fas fa-pen text-secondary"></i></button>
                        <button class="btn btn-sm border-0" disabled><i class="fas fa-trash text-secondary"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            delimiters: ['${', '}'],
            data() {
              return {
                interventions: JSON.parse('{{ interventions|raw }}'),
                interventionToAdd: {
                  intitulate: '',
                  amount: '',
                },
              }
            },
            methods: {
              addIntervention() {
                const scope = this;
                axios.post("{{ url('intervention_add') }}", this.interventionToAdd, {
                  headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                  }
                })
                  .then((response) => {
                    scope.interventions.push(response.data);
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              }
            },
        }).mount('#dashboard')
    </script>
{% endblock %}
