{% extends 'base.html.twig' %}

{% block title %}Dashboard | Shelper.{% endblock %}

{% block body %}
<main id="app">
    {% if app.request.get('_route') != 'app_login' %}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg mask-custom">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <router-link class="nav-link" to="/"><i class="fas fa-house menu-img"></i></router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/beasts"><i class="fas fa-paw menu-img"></i></router-link>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-person-shelter menu-img"></i></a>
                </li>
              </ul>
              <div class="navbar-text d-flex">
                {% if is_granted('ROLE_ADMIN') %}
                  <div class="collapse" id="collapseMenu">
                      <i class="fas fa-building"></i>
                      <i class="fas fa-file-medical"></i>
                      <i class="fas fa-disease"></i>
                      <i class="fas fa-virus"></i>
                      <i class="fas fa-paw"></i>
                      <i class="fas fa-kit-medical"></i>
                  </div>
                  <a class="text-white mx-3" role="button" data-mdb-toggle="collapse" href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                      <i class="fas fa-cogs menu-img"></i>
                  </a>
                {% endif %}
                <a class="link-danger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out text-danger menu-img"></i></a>
              </div>
            </div>
          </div>
        </nav>
    </header>
    {% endif %}
    {% verbatim %}
    <router-view v-slot="{ Component }">
        <Transition mode="out-in">
            <component :is="Component"/>
        </Transition>
    </router-view>
    {% endverbatim %}
</main>
{% endblock %}
