{% extends 'base.html.twig' %}

{% block title %}Dashboard | TD.{% endblock %}

{% block body %}
<main id="app">
    {% if app.request.get('_route') != 'app_login' %}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg mask-custom">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <router-link class="nav-link" to="/"><i class="fas fa-house menu-img" :class="[$route?.name === 'dashboard' ? 'text-white' : 'text-white-50']"></i></router-link>
                </li>
              </ul>
              <div class="navbar-text d-flex">
                <a class="link-danger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out text-danger menu-img"></i></a>
              </div>
            </div>
          </div>
        </nav>
    </header>
    {% endif %}
    {% verbatim %}
    <router-view v-slot="{ Component }">
        <Transition mode="out-in">
            <component :is="Component"/>
        </Transition>
    </router-view>
    {% endverbatim %}
</main>
{% endblock %}
