{% extends 'base.html.twig' %}

{% block title %}Beats | Shelper.{% endblock %}

{% block body %}
<div class="container mt-3" id="beasts">
    <div class="row">
        <div class="col">
            ${ message }
        </div>
    </div>
</div>
    <script>
      console.log("beast")

            let Beasts = createApp({
                delimiters: ['${', '}'],
                data() {
                    return {
                        message: 'Hello Beast!'
                    }
                }
            }).mount('#beasts');
    </script>
{% endblock %}